html {
    height: 100%;
}

body {
    height: 100%;
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#graph {
    display: grid;
    grid-template-columns: repeat(62, 1fr);
    grid-template-rows: repeat(31, 1fr);
    width: 98%;
    height: 90%;
    border: 1px solid rgba(0, 152, 172, 0.425);
}

.node {
    z-index: 0;
    height: 100%;
    border: 1px solid rgba(0, 152, 172, 0.425);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-duration: .5s;
}

img {
    height: 100%;
    width: 100%;
}

@keyframes search {
    0% {
        background-color: rgb(229, 255, 0);
    }
    10% {
        transform: scale(0.0);
        border-radius: 100%;
    }
    20% {
        background-color: rgb(10, 59, 68);
    }
    75% {
        background-color: rgb(0, 95, 112);
    }
    100% {
        background-color: rgb(0, 217, 255);
    }
}

@keyframes path {
    0% {
        transform: scale(0.0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        background-color: rgb(229, 255, 0);
    }
}

