html {
    height: 100%;
}

body {
    height: 100%;
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#graph {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.node {
    height: 100%;
    border: 1px solid grey;
}